[submodule "GameTemplate/Plugins/GameSetup"]
	path = GameTemplate/Plugins/GameSetup
	url = https://github.com/ChristianHinko/GameSetup.git
[submodule "GameTemplate/Plugins/GameCore"]
	path = GameTemplate/Plugins/GameCore
	url = https://github.com/brian2524/GameCore.git
[submodule "GameTemplate/Plugins/AbilitySystemSetupExtras"]
	path = GameTemplate/Plugins/AbilitySystemSetupExtras
	url = https://github.com/brian2524/AbilitySystemSetupExtras.git
[submodule "GameTemplate/Plugins/AbilitySystemSetup"]
	path = GameTemplate/Plugins/AbilitySystemSetup
	url = https://github.com/ChristianHinko/AbilitySystemSetup.git
